[submodule "Exercise3"]
	path = Exercise3
	url = https://github.com/magnmaeh/Exercise3.git
[submodule "Project-resources"]
	path = Project-resources
	url = https://github.com/TTK4145/Project-resources.git
